@import './variables.scss';

@import url(https://use.typekit.net/khv8yjg.css);


@font-face {
  font-family: "Creek Sans";
  src: url("../../public/fonts/CreekSans_W_Rg.woff2") format("woff2"),
        url("../../public/fonts/CreekSans_W_Rg.woff") format("woff");
  font-weight: 400;
  font-stretch: normal;
}
:root {
  --bg-primary-color: #0B1319;
  --bg-secondary-color: #d3c3a2;
  --text-primary-color: #D3C3A2;
  --text-secondary-color: #0B1319;
  --text-color-error: #ff0000;
  --font-primary: "Creek Sans", "sans-serif";
  --font-benguiat_pro: "itc-benguiat-condensed", Times New Roman, serif;
}
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  letter-spacing: 1.5px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.admin {
  overflow: auto !important;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
  &:focus-visible {
    outline: var(--text-primary-color) dashed 1px;
    outline-offset: 2px;
  }
}

.text_error {
  font-size: 0.9rem;
  color: var(--text-color-error);
  line-height: 1rem;
  margin: 4px 0;
}
.overflow_hidden {
  overflow: hidden;
  height: 100vh;
}

.btn_transparent {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  @include fsize(1.5);
  letter-spacing: 2px;
  color: var(--text-primary-color);
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid var(--text-primary-color);
  padding: 0;
  margin: 0 auto;
  display: table;
  &:focus-visible {
    outline: var(--text-primary-color) dashed 1px;
    outline-offset: 2px;
  }
}

.btn_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  @include fsize(1.1);
  @include breakpointSmMin() {
    @include fsize(1.5);
  }
  letter-spacing: 2px;
  color: var(--text-primary-color);
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 5px auto;
  @include breakpointXlMin() {
    margin-top: 30px;
  }
  @include breakpointHeightDevice() {
    margin-bottom: 60px;
  }
  &::after {
    content: "";
    display: inherit;
    height: inherit;
    background-color: inherit;
    width: inherit;
}
  .text_submit {
    vertical-align: middle;
    border-bottom: 2px solid var(--text-primary-color);
  }
  .btn_round {
    font-size: 1rem;
    background-color: var(--bg-secondary-color);
    color: var(--text-secondary-color);
    padding: 3px 4px;
    width: 24px;
    height: 24px;
    margin-left: 6px;
    @include breakpointSmMin() {
      font-size: 1.1rem;
      padding: 2px 4px;
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }
    border-radius: 50%;
    text-align: center;
  }
}
