:root {
  --bg-primary-color: #0B1319;
  --text-primary-color: #DBCAAF;
  --text-color-error: #ff0000;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text_error {
  font-size: 0.9rem;
  color: var(--text-color-error);
  line-height: 1rem;
  margin: 4px 0;
}
.overflow_hidden {
  overflow: hidden;
  height: 100vh;
}
