@import './variables.scss';

.signature_page {
  background-image: url('../../public/images/page-signature/bg.png');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  padding: 20px 0 60px 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b1319;
    opacity: 0.78;
    z-index: 0;
  }
}

.wrap_content {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  width: 98%;
  z-index: 100;
  & > img {
    display: table;
    margin: 5px auto 30px auto;
    max-width: 180px;
    width: 100%;
  }
  & > h3 {
    text-align: center;
    @include fsize(3.1);
    letter-spacing: 0.8px;
    color: var(--text-primary-color);
    margin: 0 0 10px 0;
    font-weight: 300;
  }
  & > p {
    text-align: center;
    @include fsize(1.1);
    color: var(--text-primary-color);
    font-family: var(--font-benguiat_pro);
    font-style: italic;
    letter-spacing: 0.9px;
    margin: 0 0 30px 0;
  }
}

.wrap_foot {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  .link_logo {
    width: 111px;
    height: 27px;
    display: block;
    margin: 15px 0;
    img {
      height: auto;
      width: 100%;
    }
  }
  .text_terms {
    margin: 0;
    @include fsize(0.9);
    letter-spacing: 0px;
    color: var(--text-primary-color);
    a {
      &:hover {
        text-decoration: underline;
      }
      &:focus-visible {
        outline: var(--text-primary-color) dotted 1px;
        outline-offset: 2px;
      }
    }
  }
}
