@import './variables.scss';

.comp_signature {

  .canvasWrapper {
    border: 2px solid var(--text-primary-color);
    height: 120px;
    @include breakpointSmMin() {
      height: 200px;
    }
    margin-bottom: 20px;
    .clear_panel {
      height: 120px - (90px + 2px + 5px);
      padding: 0;
      @include breakpointSmMin() {
        height: 200px - (160px + 2px + 5px);
        padding: 5px 0;
      }
      margin: 0 auto 0 auto;
      display: table;
      text-align: right;
      border-top: 2px solid var(--text-primary-color);
      width: 94%;
      animation: 2s linear;
      &.error {
        border-top: 2px solid var(--text-color-error);
      }
      a {
        @include fsize(0.65);
        @include breakpointSmMin() {
          @include fsize(0.9);
        }
        color: var(--text-primary-color);
        text-align: right;
      }
    }
  }

  .wrap_accept_terms {
    margin: 0 auto 10px auto;
    padding: 0;
    @include breakpointSmMin() {
      margin: 0 auto 20px auto;
      padding: 0 2%;
    }
    @include breakpointXlMin() {
      padding: 0 40px;
    }
    display: table;
    width: 100%;
    label {
      display: flex;
      position: relative;
      margin-bottom: 5px;
      color: var(--text-primary-color);
      font-family: var(--font-benguiat_pro);
      font-style: italic;
      @include fsize(0.56);
      letter-spacing: 0;
      word-spacing: -0.2px;
      @include breakpointSmMin() {
        @include fsize(0.82);
        letter-spacing: 1px;
        word-spacing: 0px;
      }
      @include breakpointXlMin() {
        letter-spacing: 0.4px;
      }
      .term {
        margin-top: 0;
        width: calc(100% - 18px);
        @include breakpointSmMin() {
          margin-top: 4px;
          width: calc(100% - 26px);
        }

        &.term_secondary {
          margin-top: 0;
        }

        a {
          color: var(--text-primary-color);
          text-decoration: underline;
        }
      }
      &.error {
        text-decoration: none;
        text-decoration-color: var(--text-color-error);

        @include breakpointSmMin() {
          text-decoration: none;
        }
      }
      @include breakpointSmMin() {
        display: flex;
        justify-content: center;
      }

      input[type='checkbox'] {
        /* remove browser chrome */
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        outline: none;
        /*add styling */
        position: relative;
        margin: 0 6px 0 0;
        height: 20px;
        width: 20px;
        @include breakpointSmMin() {
          margin: 0 10px 0 0;
          height: 26px;
          width: 26px;
        }
        border: 2px solid var(--text-primary-color);
        overflow: hidden;
        cursor: pointer;

        &::before {
          content: '';
          //color: #fff;
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
          left: 2px;
          background-color: transparent;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-transform: scale(0);
                  transform: scale(0);
          -webkit-transition: -webkit-transform 0.25s ease-in-out;
          transition: -webkit-transform 0.25s ease-in-out;
          transition: transform 0.25s ease-in-out;
          transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
          /* base64 encoded to make things easier to show */
          background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ0OCIgaGVpZ2h0PSI0NDgiIHZpZXdCb3g9IjAgMCA0NDggNDQ4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZD0iTTQxNy43NSAxNDEuNWMwIDYuMjUtMi41IDEyLjUtNyAxN2wtMjE1IDIxNWMtNC41IDQuNS0xMC43NSA3LTE3IDdzLTEyLjUtMi41LTE3LTdsLTEyNC41LTEyNC41Yy00LjUtNC41LTctMTAuNzUtNy0xN3MyLjUtMTIuNSA3LTE3bDM0LTM0YzQuNS00LjUgMTAuNzUtNyAxNy03czEyLjUgMi41IDE3IDdsNzMuNSA3My43NSAxNjQtMTY0LjI1YzQuNS00LjUgMTAuNzUtNyAxNy03czEyLjUgMi41IDE3IDdsMzQgMzRjNC41IDQuNSA3IDEwLjc1IDcgMTd6Ij48L3BhdGg+Cjwvc3ZnPgo=");
        }
      
        &:checked {
          background-color: var(--text-primary-color);
        }
        &:checked::before {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
      }

      .error_terms {
        border-bottom: 1px solid var(--text-color-error);
      }
    }
  }
}

