.background {
  background-image: url('https://uploads-ssl.webflow.com/629a2647b4c124bb3b910e92/629a79ea089e74866a9157ec_bg_test.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}
.signatures-wrapper{
  overflow: hidden;
  display: grid;
  gap: 0;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

img.img-signature {
  width: 80%;
  height: 80%;
  margin: 10%;
}
